<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.RedPatitasConnectionString"
            connectionString="Data Source=redmibook;Initial Catalog=RedPatitas;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.RedPatitasConnectionString1"
            connectionString="Data Source=DESKTOP-34VIA8T;Initial Catalog=RedPatitas;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>