<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.RedPatitasConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=RedPatitas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.RedPatitasConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=RedPatitas;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.RedPatitasConnectionString2"
            connectionString="Data Source=.;Initial Catalog=RedPatitas;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.RedPatitasConnectionString3"
            connectionString="Data Source=DESKTOP-HBFHBMR\SQLEXPRESS;Initial Catalog=RedPatitas;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>