.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 14px;
    width: 220px;
    margin: 12px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
}

    .card h3 {
        margin-top: 0;
    }

.filtros {
    margin-bottom: 15px;
}
